#content {
	.site-branding {
        text-align: center;
    }
    .site-title {
        margin: 0 0 50px;
		text-align: center;
		a {
		    font-family: "Montseratt", sans-serif;
	        text-decoration: none;
			display: block;
		}
		span {
			display: block;
		}
    }
    .site-description {
        font-size: 12px;
        line-height: 1.6em;
        text-transform: uppercase;
        margin: 0 0 15px;
    }
    .category {
        font-size: 12px;
        line-height: 1.6em;
        color: #999;
        font-style: italic;
        margin: 0 0 15px;
        text-align: center;
    }
    .site-logo-link {
        border-bottom: none;
        img {
            padding-bottom: 10px;
        }
    }
}



body.has-featured-image #page {
    .russell-content-wrapper {
        padding: 0;
        display: -webkit-flex;
    	display: -ms-flexbox;
    	display: flex;
    }
    .russell-page-right-content,
    .russell-single-right-content {
        padding: 80px 50px 20px 50px;
        .entry-meta {
            text-align: center;
            font-size: 15px;
        }
        .entry-meta a {
            text-decoration: none;
            border-bottom: 1px solid #646464;
            color: #646464;
            font-family: "Montseratt", sans-serif;
        }
    }
    .item {
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
	.russell-featured-images {
        width: 61.8vw;
        -webkit-flex: 1.618;
        -ms-flex: 1.618;
		flex: 1.618;
        overflow: hidden;
    }
    .russell-page-right-content,
    .russell-single-right-content {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        overflow: auto;
    }
    .featured-image-caption {
        position: absolute;
        left: 20px;
        bottom: 0;
        padding: 20px;
        color: #fff;
        font-style: italic;
        font-size: .90em;
        font-family: 'Roboto Stab';
    }
}
@media screen and (max-width: 1024px) {
	#page {
		#content {
			.russell-home-left-content, .russell-home-right-content {
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
			}
			.russell-home-left-content {
			    width: auto;
			    border-right: none;
			    padding: 50px;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	#page #content {
		-webkit-flex-flow: column-reverse nowrap;
		-ms-flex-flow: column-reverse nowrap;
		flex-flow: column-reverse nowrap;
	}
	body, #page {
		overflow: auto;
	}
	#page {
		height: auto;
	}
}


.russell-site-title {
	&, a {
		text-decoration: none;
	}
    margin: 0 0 100px;
	text-align: center;
	span {
		position: relative;
		margin-top: 41px;
		display: block;
		color: #333;
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.1em;
        letter-spacing: normal;
        text-transform: uppercase;
        font-variant: normal;
		&:before {
			content: '';
			width: 40px;
			height: 1px;
			background: #333;
			position: absolute;
			top: -21px;
			left: 50%;
			display: block;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
		a {
			text-decoration: none;
		}
	}
	a {
	    text-decoration: none;
	}
}
body.archive, body.search {
	.russell-content-full {
		.russell-site-title, 
		.nothing-found {
			text-align: center;
			span {
				&:before {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
	.russell-site-title {
		text-align: right;
		span {
			&:before {
				left: auto;
				right: 0;
				-webkit-transform: none;
				transform: none;
			}
		}
	}
}
.russell-post-meta {
	font-style: italic;
    text-align: center;
    font-size: .8em;
    color: #999;
    margin-bottom: 50px;
	a, a:visited {
	    text-decoration: none;
	    border-bottom: 1px solid #ddd;
	    color: #999;
		&:hover {
			color: #646464;
			border-color: #646464;
		}
	}
	.avatar {
		display: block;
		margin: 0 auto 20px;
		border-radius: 100%;
	}
}



.russell-content-area {
	display: -webkit-flex;
	display: -ms-flexbox;
    display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	> * {
		-webkit-flex: 1 0 auto;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
		padding: 0 50px 20px;
	}
	> *:first-child {
		padding: 80px 50px 20px;
	}
	.russell-copyright {
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
	}
}
.russell-copyright {
	padding: 50px 50px 20px;
	font-style: italic;
    font-size: .80em;
	text-align: center;
}

.russell-content-area {
	border-right: 1px solid #eee;
	overflow: auto;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.russell-content-large {
    overflow: hidden;
	-webkit-flex: 1.618;
	-ms-flex: 1.618;
	flex: 1.618;
}
.russell-content-full.russell-content-area {
	> div {
		width: 90%;
		margin: 0 auto;
		max-width: 900px;
		padding: 0 0 20px;
	}
	> *:first-child {
		padding: 80px 0 20px;
	}
}
@media screen and (max-width: 1200px) {
	.russell-content-large {
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
}

.russell-content-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: auto;
}
.russell-content-reverse {
	-webkit-flex-flow: row-reverse nowrap;
	-ms-flex-flow: row-reverse nowrap;
	flex-flow: row-reverse nowrap;
}

@media screen and (max-width: 700px) {
	.russell-content-wrapper {
		display: block;
	}
}



.russell-taglist {
	text-align: right;
	list-style: none;
	margin: 0;
	position: relative;
	padding-top: 24px;
	&:before {
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(images/filter.png);
		background-size: 16px 16px;
	}
	li {
		font-size: 12px;
		color: #646464;
		font-style: italic;
		line-height: 2em;
		cursor: pointer;
	}
}

.nothing-found {
	text-align: right;
}

.entry-content {
	table {
		tbody tr:nth-child(2n+1) {
			td, th {
				background: #eee;
			}
		}
		td, th {
			padding: 8px;
		}
		thead tr {
			th, td {
				background: #222;
				color: #fff;
			}
		}
		tfoot tr {
			th, td {
				background: #ABB7B7;
				color: #fff;
			}
		}
	}
}
a, a:visited {
	color: #DB0A5B;
}

.navigation .nav-previous,
.navigation .nav-next {
	float: none;
	display: inline-block;
}