.russell-copyright {
    font-style: italic;
    position: absolute;
    bottom: 20px;
    text-align: center;
    padding-top: 25px;
    font-size: .80em;
    left: 0;
    right: 0;
    a {
        color: #646464;
    }
}
body.page .russell-copyright,
body.single .russell-copyright {
    position: relative;
}