#colophon {
    bottom: 20px;
    right: 0;
    left: 0;
    position: absolute;
    font-style: italic;
    font-size: .80em;
}
body.page #colophon,
body.single #colophon {
    position: relative;
}
.widget-title {
    font-size: 1em;
}
.footer-widgets {
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        padding: 10px;
    }
    ul > li > a {
        text-decoration: none;
    }
}
.footer-widgets ul {
    font-size:10px;
}