#site-navigation {
    padding: 0 50px;
}
body.home .site-branding, {
    text-align: center;
}
body.home h1.site-title {
    font-weight: 100;
    font-size: 1.5em;
    text-decoration: none;
    color: #646464;
    text-align: center;
}
body.home #content {
    width: 100%;
    top: 75px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    box-sizing: border-box;
}
body.home ul > li > a {
    color: #646464;
}
.russell_left_content_home {
    padding: 100px 50px 50px 50px;
    width: 38.2vw;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 100%;
    position: relative;
}
body.home .russell_right_content {
    display: none
} 
i.line {
	display: block;
	height: 1px;
	width: 30px;
	background: #646464;
	margin: 0 auto;
}
body.home h1.site-title {
    font-size: 3em;
    margin: 0 0 15px;
}
body.home h2.site-description {
    font-size: 12px;
    line-height: 1.6em;
    color: #999;
    font-style: italic;
    text-transform: none;
    margin: 0 0 15px;
}
body.home i {
    margin: 0 auto 15px;
    text-align: center
}
body.home .site-elaboration {
    margin: 0 0 15px;
    padding-top: 50px;
}