body.home .site-branding, {
    text-align: center;
}
body.home h1.site-title {
    font-weight: 100;
    font-size: 1.5em;
    text-decoration: none;
    color: #646464;
    text-align: center;
}
body.home #masthead {
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    width: 100vw;
    border-bottom: 1px solid #eee;
    position: absolute;
    z-index: 3;
    box-sizing: border-box;
}
body.home #content {
    padding-top: 100px;
    width: 100%;
    top: 75px;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
    box-sizing: border-box;
}
body.home .main-navigtaion, body.home .main-navigation li {
    float: none;
    display: inline-block;
    padding: 1em 1em;
    font-weight: bold;
}
body.home #site-navigation {
    padding-left: 25px;
    left: 0;
    position: fixed;
    top: 15px;
}
body.home ul > li > a {
    color: #646464;
}
body.home #content.site-content .russell_left_content {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
body.home .russell_right_content {
    display: none
} 
i.line {
	display: block;
	height: 1px;
	width: 30px;
	background: #646464;
	margin: 0 auto;
}
body.home h1.site-title {
    font-size: 3em;
    margin: 0 0 15px;
}
body.home h2.site-description {
    font-size: 12px;
    line-height: 1.6em;
    color: #999;
    font-style: italic;
    text-transform: none;
    margin: 0 0 15px;
}
body.home i {
    margin: 0 auto 15px;
    text-align: center
}
body.home .site-elaboration {
    margin: 0 0 15px;
    padding-top: 50px;
}