#page {
	display: -webkit-flex;
	display: -ms-flexbox;
    display: flex;
	-webkit-flex-flow: column nowrap;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	height: 100vh;
	overflow: hidden;
	> header {
		flex: 0 0 auto;
	}
}
body.admin-bar {
    #page {
        height: calc(100vh - 32px);
    }
}
#masthead {
    border-bottom: 1px solid #eee;
    .title {
        font-weight: 100;
        font-size: 1.5em;
        padding: 25px 45px;
        position: absolute;
        margin: 0;
        z-index: 99999;
    }
    .title a {
        text-decoration: none;
        color: #646464;
    }
    .site-logo-link img {
        height: 75px;
        width: auto;
        position: absolute;
    }
    .social-navigation {
        padding: 25px;
    }
}