#masthead {
    width: 100vw;
    border-bottom: 1px solid #eee;
    position: absolute;
}
body.error404 .page-header {
    padding: 50px 0;
}
body.page .site-branding,
body.single .site-branding, {
    font-weight: 100;
    padding: 25px;
    position: fixed;
    top: 0;
    display: inline-block;
}
.russell_right_content {
    padding: 100px 50px 50px 50px;
}
body.page h1.site-title,
body.single h1.site-title {
    font-weight: 100;
    font-size: 1.5em;
    text-decoration: none;
    color: #646464;
    padding: 25px 45px;
    position: absolute;
}
body.home .site-logo-link img {
    height: auto;
    width: 100%;
}
body.singe .site-logo-link,
body.page .site-logo-link {
    position: relative;
    z-index: 9999;
}
.site-logo-link img {
    height: 75px;
    width: auto;
}
.site-logo-link, .site-header {
	a:hover,
	a:focus,
	a:active,
	a:visited {
	  border: 0px none !important;
	  border-bottom: 0px none !important;
    }
}
body.search h1.entry-title {
    margin: 0 0 15px;
}
.entry-meta {
    text-align: center;
}