header.entry-header {
    padding: 80px 0 20px 0
}
body.error404 .page-header {
    padding: 50px 0;
}
body.page .site-branding,
body.single .site-branding, {
    font-weight: 100;
    padding: 25px;
    position: fixed;
    top: 0;
    display: inline-block;
}
body.page #primary,
body.single #primary,
body.error404 #primary,
body.search #primary,
body.archive #primary {
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
}
body.page h1.site-title,
body.single h1.site-title {
    font-weight: 100;
    font-size: 1.5em;
    text-decoration: none;
    color: #646464;
    padding: 25px 45px;
}
body.page #masthead, 
body.single #masthead {
    top: 0;
    position: fixed;
    height: 75px;
    width: 100vw;
    border-bottom: 1px solid #eee;
    
}
body.page.has-header-image #masthead,
body.single.has-header-image #masthead {
    top:0;
    right: 0;
    left: 0;
    height: 75px;
    width: 100vw;
    border-bottom: 1px solid #eee;
    position: absolute;
    z-index: 3;
    box-sizing: border-box;
}
body.error404 #masthead.site-header,
body.search #masthead.site-header,
body.archive #masthead.site-header {
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid #eee;
    height: 75px;
}
.site-logo-link img {
    height: 75px;
    width: auto;
}
body.search h1.entry-title {
    margin: 0 0 15px;
}
body.search .entry-meta {
    text-align: center;
}