<<<<<<< HEAD
body.page .main-navigation, body.page .main-navigation li,
body.single .main-navigation, body.single .main-navigation li,
body.error404 .main-navigation, body.error404 .main-navigation li,
body.search .main-navigation, body.search .main-navigation li,
body.archive .main-navigation, body.archive .main-navigation li {
  float: none;
  display: inline-block;
  font-weight: bold; }
  
body.page .main-navigation, body.page .main-navigation li,
body.single .main-navigation, body.single .main-navigation li,
body.error404 .main-navigation, body.error404 .main-navigation li,
body.search .main-navigation, body.search .main-navigation li,
body.archive .main-navigation, body.archive .main-navigation li {
	a{
    padding: 1em 1em 1.9em;
	}
=======
.main-navigation li {
    float: none;
    display: inline-block;
    padding: 0 1em;
    font-weight: bold;
    line-height: 75px;
>>>>>>> menu
}
.main-navigation ul {
    font-size: 15px;
}
body.page #site-navigation,
body.single #site-navigation {
    text-align: center;
}
body.page .social-navigation,
body.single .social-navigation,
body.error404 .social-navigation,
body.search .social-navigation,
body.archvie .social-navigation {
    display: inline-block;
    float: right;
    padding: 25px;
    top: 0;
}
.main-navigation ul ul.sub-menu {
    text-align: left;
    margin-top: 29px;
    top: 2em;
	background-color: #fff;
}