#footer-left,
#footer-right {
    width: 380px;
    margin: 10px;
    display: inline-block;
}
#footer-right {
    float: right;
}
body.has-header-image #footer-right {
    float: none;
}
body .footer-widgets.active-footers-1 {
    #footer-left,
    #footer-right {
        width: 780px;
        margin: 20px;
    }
}
body.has-header-image .footer-widgets.active-footers-1 #footer-left,
body.has-header-image .footer-widgets.active-footers-1 #footer-right {
    width: 100%;
    margin: 0;
}