.widget-category {
	position: relative;
	padding-top: 100px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: auto;
	clear: both;
	.widget {
		overflow: hidden;
		-webkit-flex: 1 1 450px;
		-ms-flex: 1 1 450px;
		flex: 1 1 450px;
	}
	&:before {
		content: '';
	    width: 40px;
	    height: 1px;
	    background: #333;
	    position: absolute;
	    top: 30px;
	    left: 50%;
	    display: block;
	    -webkit-transform: translateX(-50%);
	    transform: translateX(-50%);
	}
}
.russell-content-small {
	#footer-sidebar {
		display: block;
	}
}
@media screen and ( max-width: 700px ) {
	#footer-sidebar {
		display: block;
	}
}